body::before{
    content:'';
    display: block;
    height: 50px;
}

.title-color{
    color:rgb(19, 182, 168) !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    letter-spacing: 1px !important;
    font-weight: bold;
 }

.w-50 {
    width: 41% !important;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

.news-bg, .custom-instructor{
    background-color: rgb(138, 63, 209) !important;
}

.img-fluid {
    max-width: 70%;
    height: auto;
}

#map{
     width: 500px;
    height: 300px;
    border-radius: 10px;
}

.custom-footer-class{
    height: 50px !important;
}
